[user]
	email = satojkovic@gmail.com
	name = satojkovic
[github]
	user = satojkovic
[color]
	ui = true
[alias]
	br = branch
	c = commit
	cm = commit -m
	co = checkout
	df = diff
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s%C(white)- %an, %ar%Creset'
	lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	ll = log --stat --abbrev-commit
	pr = pull --rebase
	st = status -sb --untracked-files=no
	cgl = config --global --list
	cll = config --local --list
	spull = svn rebase
	spush = svn dcommit
	bc = bundle create
	lsr = ls-remote
	rv = remote -v
	ls = ls-files
	ra = remote add
	ss = stash save
	sl = stash list
	sd = stash drop
	sp = stash pop
	sa = stash apply
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[core]
	excludesfile = /Users/satojkovic/.gitignore
	pager = less
[merge]
	ff = false
[push]
	default = simple
[help]
	autocorrect = 1
