.emacs.d/ac-comphist.dat
*.elc
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# GTAGS
GPATH
GRTAGS
GTAGS

# Visual Studio
*.ncb
*.suo
*.user
Debug/
Release/

*.pyc

